
footer
{
   padding: 10px 0;
   background-color: #101010;
   color:#9d9d9d;
   bottom: 0;
   width: 100%; 
}
h3
{
    font-weight: bold;
    text-align: center;
}
.trial{
text-align: justify;
}
p
{
    text-align: center;
}
.navbar-brand
{
    font-family: Righteous;
}
.head {
    font-family: Orbitron;
    font-weight: 900;
}
#content {
    padding-bottom: -20px;
   
}
.jumbotron {
    color: #2c3e50;
    background: #ecf0f1;
    font-size: 50px;
    
}
h2{
    text-align: right;
     font-weight: bolder;
}
.button{
    width: 150px; 
}
.button2{
    width: 100px;

}

.button3{
    width: 250px;

}

li{
    text-align: justify;
}
.name{
    font-family: Permanent Marker;
    font-weight: normal;
}